<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    {# <meta name="og:title" content="{% block title %}{% endblock %}" /> #}
    {# <meta name="twitter:title" content="{% block title %}{% endblock %}" /> #}

    <meta name="description" content="The state of language development in Rust." />
    {# <meta name="og:description" content="The state of language development in Rust." /> #}
    {# <meta name="twitter:description" content="The state of language development in Rust." /> #}

    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="/theme.css">

    <!-- icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <nav>

    </nav>
    <div class="content">{% block content %}{% endblock %}</div>
</body>
</html>