{% extends "base.tera.html" %}

{% block title %}{{ topic.name }}{% endblock %}
{% block description %}{{ topic.description }}{% endblock %}

{% block content %}
<h1>{{ topic.name }}</h1>
<p>{{ topic.description }}</p>

{% for project in projects %}
    <h2>
        {{ project.name }}
        {% if project.docs %}
            <a title="documentation" href="{{ project.docs }}"><i class="fa fa-home"></i></a>
        {% endif %}
        {% if project.repo %}
            <a title="repository" href="{{ project.repo }}"><i class="fa fa-code"></i></a>
        {% endif %}
    </h2>

    {% if project.description %}
        <p>{{ project.description }}</p>
    {% endif %}
    
    {% if project.crates     > 1 %}
    <h3>Crates:</h3>
    <ul>
        {% for crate in project.crates %}
            <li>
                {{ crate }}
                <a title="crates.io link" href="https://crates.io/crates/{{ crate }}"><i class="fa fa-cube"></i></a>
                <a title="docs.rs link" href="https://docs.rs/{{ crate }}"><i class="fa fa-book"></i></a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endfor %}

{% endblock %}